.container {
    background: #DFF6FF;
    height: 600px;
}

.corMenu {
    background: #06283D;
    border-radius: 0 0 15px 15px;
}

.logo {
    height: 8vmin;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.5rem;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #61dafb;
}

.main {
    text-align: center;
}

.paleta-cores {
    color: #DFF6FF;
    color: #47B5FF;
    color: #1363DF;
    color: #06283D;
    color: #61dafb;
}